body{
     margin:0;
     padding:0;
     color:white;
     text-align:center;
     font-family: 'Quicksand', sans-serif;
     color:black;
     background-color:#f1f1e8;
}
hr{
     width:5%;
     border-top:6px solid #e8ded2;
     border-bottom:none;
     border-top-style: dotted;
     margin-top:20px;
}

/* Top container */
.top-container{
     position: relative;
     background-color:#a3d2ca;
     padding-top:20px;
     width:100%;
}
.top-cloud
{
     position: absolute;
     right: 21px;
     top: 25px;
     height: 29px;
 }
     
  
.top-container h1
{
     font-family: 'Kaushan Script', cursive;
     font-size: 2.59rem;
     margin: 41px auto 0 auto;
     color: #145374;
 

}
.top-container h6{
     font-family: 'Boogaloo', cursive;
     font-size: 1.85rem;
     font-weight: normal;
     margin-top: 0px;
     color: #145374;

}
.mountain
{
     width:100%;
}

.bottom-cloud
{
    position: absolute;
    left: 23px;
    bottom: 204px;
    height: 36px;
    
}
/* css styling for headers,paragraphs and anchors  of middle and bottom container */

h2{
     font-size:2.5rem;
     color:#145374;
     font-weight:bold;
}
h3{
     font-size:1.8rem;
     color:#145374;
     font-weight:bold;
     text-align:center;
     
}
 p
{
    font-size: 20px;
    font-weight: normal;
    margin: auto;
    width: 79%;
    text-align: left;
}
a
{
     text-decoration:none;
     color:white;
     font-weight:bold;
}

/* Middle Container */
.middle-container
{
  color:black;
  padding-top:20px;
   
}
.profile{
     margin:auto;
     padding-bottom:36px;
}
.profile img{
     height:145px;
     width:145px;
     padding-top:20px;
}
.skills
{
     padding-top:33px;
}
.skills p
{
     font-size:20px;
}
.skill-row
{
    
    margin: 57px auto 100px auto;
    text-align: center;
    line-height: 1.5;
}
.skill1
{
     /* height:300px; */
     width:50%;
     margin:0% auto auto auto;
}
.skill2
{
     /* height:300px; */
     width:50%;
     margin:0% auto auto auto;
}
.contact-me
{
     height:230px;
     padding:20px;
     font-family: 'Josefin Sans', sans-serif;
}
.contact-me p
{
     margin-bottom:32px;
     text-align:center;
}
.btn
{
    background-color:#2d4059;
    height: 50px;
    width: 166px;
    padding:10px 10px 10px 10px;
    border-radius: 8px;
    font-size:20px;
    color:white;
    
}
.btn:hover{
  background-color:#5c7392;
  cursor:pointer;
}
.bottom-container
{     
   color:black; 
   background-image:linear-gradient(to left,#a3d2ca,cyan);
   margin:30px 0px 0px 0px;
   padding:20px;
   text-align:center; 
   height:67px;
 
}
.bottom-container a{
     padding:20px;
     color:#40a8c4;
}
.bottom-container p
{
     color: #40a8c4;
     padding-top: 25px;
     text-align: center;
 
}

@media only screen and (min-width:1000px)
{
     
 /* Top container */
 .top-container{
     padding-top:50px;
 }
 .top-cloud
 {
     right: 121px;
     top: 55px;
     height: 57px;
 }  
 .top-container h1
 {
     font-size:6.59rem;
     margin:50px auto 0 auto;
    
 
 }
 .top-container h6{
     font-size:2.85rem;

 
 }
 .mountain
 {
      width:50%;
 }
 
 .bottom-cloud
 {
     left: 122px;
     bottom: 293px;
     height:57px;
    
 }
 /* css styling for headers,paragraphs and anchors  of middle and bottom container */
 p
 {
     font-size: 1.5rem;
     font-weight: normal;
 }
 a
 {
     text-decoration:none;
     color:white;
     font-weight:bold;
 }
 
 /* Middle Container */
 .middle-container
 {
  color:black;
  padding-top:20px;
   
 }
 .profile{
     width:40%;
     margin:auto;
     padding-bottom:36px;
 }
 .profile img{
     height:200px;
     width:200px;
     padding-top:20px;
 }
 .skills
 {
     padding-top:33px;
 }
 .skills p
 {
     font-size:20px;
 }
 .skill-row
 {
     width:50%;
     margin: 100px auto 100px auto;
     text-align:left;
     line-height:1.5;
 }
 .skill1
 {
     /* height:300px; */
     width:25%;
     float:left;
     margin-right:30px;
 }
 .skill2
 {
     /* height:300px; */
     width:25%;
     float:right;
     margin-left:30px;
 }
 .contact-me
 {
     height:230px;
     padding:20px;
     font-family: 'Josefin Sans', sans-serif;
 }
 .btn
 {
    background-color:#2d4059;
    height: 50px;
    width: 166px;
    padding:10px 10px 10px 10px;
    border-radius: 8px;
    font-size:20px;
    color:white;
    
 }
 .btn:hover{
  background-color:#5c7392;
  cursor:pointer;
 }
 .bottom-container
 {     
   color:black; 
   background-image:linear-gradient(to left,#a3d2ca,cyan);
   margin:30px 0px 0px 0px;
   padding:20px;
   text-align:center; 
   height:67px;
 }
 .bottom-container a{
     padding:20px;
     color:#40a8c4;
 }
 .bottom-container p
 {
     color:#40a8c4;
 }
}
